* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
header .container {
  padding: 0 3rem 0 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@font-face {
  font-family: "cola";
  src: url(LOKICOLA.TTF) format("truetype");
  font-weight: normal;

  font-style: normal;
}
header .container .logo {
  color: #3a96e2;
  margin-left: 10px;
  margin-top: 20px;
  font-family: "cola";
  font-size: 50px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
header nav a:hover {
  color: #fff;
}

.home > .box{
  display: flex;
}
.sec1 > h3{
  color: #ffffff;
  font-size: 3rem;
  font-family: system-ui;
  margin: 0;
}
.sec1 > h4{
  color: #ffffff;
  font-size: 1.5rem;
  font-family: sans-serif;
  margin: 0;
}
.sec1 > p{
  color: #ffffff;
  font-family: sans-serif;
}

.sec1{
  margin: 6rem 3rem;
}
.sec2{
  margin: 0 3rem;
}
.button{
  margin-top: 3rem;
}
.button > a{
  border: 1px solid white;
  text-decoration: none;
  color: #ffffff;
  padding: 0.7rem 2rem;
  font-family: sans-serif;
  border-radius: 10px;
}
/*
.principal > .home {
  display: flex;
}

.principal > .home > .especial {
  display: flex;
}
.principal {
  height: 700px;
  width: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 300px;
  align-items: flex-start;
}

.principal .titulo {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.principal .descricao {
  margin-bottom: 40px;
  margin-top: 40px;
  color: #fff;
}
.container h5 {
  color: #3a96e2;
  font-size: 20px;
}
.container h1 {
  color: white;
}

.botao {
  background-color: #3a96e2;
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 15px;

  cursor: pointer;
}
.container {
  margin-left: 20px;
}
.especial {
  margin-left: 100px;
}

.lado h1 {
  color: #3a96e2;
}
img {
  height: 500px;
  width: 500;
}

.container {
  margin-left: 20px;
  position: left;
}

.lado {
  position: right;
}
.lado .night {
  color: #7db3f0;
  font-size: 70px;
  position: center;
}
img {
  width: 250px;
}
