* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  color: #7db3f0;
  margin-left: 5px;
  font-family: "Coca Cola ii 400";
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
header nav a:hover {
  color: #fff;
}
header .container button {
  background-color: #7db3f0;
  color: white;
  padding: 10px;
}
